/*

  Comments
  +

*/

.comments-area{
	margin: 65px 0 0;
}

.comments-title,.comment-reply-title {
	margin-bottom: 30px;
	font-size: 26px;
}

.comment-list,.commentlist {
	margin: 0;
	list-style: none;
	padding: 0;

	.children {
		list-style: none;

		@include media-breakpoint-down(sm) {
			margin: 0;
			padding: 0;
		}
	}

	.comment-body {
		margin-bottom: 20px;
		padding-top: 20px;
	}

	> .comment {
		&:first-child {
			> .comment-body {
				border-top: 0;
				padding-top: 0;
			}
		}
	}
}
