/*

  Components
  +

*/

/* General Layout*/
.main {
	padding: $section-padding-lg 0;

	@include media-breakpoint-down(md) {
		padding: $section-padding-md 0;
	}

	@include media-breakpoint-down(sm) {
		padding: $section-padding-sm 0;
	}
}

.sidebar {
	@include media-breakpoint-down(md) {
		margin-top: 80px;
	}
}

/* Sections*/
.widget-section {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom: $section-padding-lg;

	@include media-breakpoint-down(md) {
		margin-bottom: $section-padding-md;
	}

	@include media-breakpoint-down(sm) {
		margin-bottom: $section-padding-sm;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.widget-section-parallax {
	background-attachment: fixed;
}

.section-padded {
	padding-top: $section-padding-lg;
	position: relative;

	@include media-breakpoint-down(md) {
		padding-top: $section-padding-md;
	}

	@include media-breakpoint-down(sm) {
		padding-top: $section-padding-sm;
	}
}
