/*

  Widgets
  +

*/

.sidebar {
	@include media-breakpoint-up(xl) {
		margin-left: 30px;

		.flex-row-reverse & {
			margin-left: 0;
			margin-right: 30px;
		}
	}

	@include media-breakpoint-down(md) {
		padding: 0;
		margin-top: 60px;
	}
}

.widget {
	margin: 0 0 $widget-margin-lg;

	@include media-breakpoint-down(md) {
		margin-bottom: $widget-margin-md;
	}

	@include media-breakpoint-down(sm) {
		margin-bottom: $widget-margin-sm;
	}

	/* Nullify bottom margin for last elements in widgets and sidebars */
	.sidebar & {
		&:last-child {
			margin-bottom: 0;
		}
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}

	select {
		width: 100%;
	}
}

.widget-title {
	font-size: 18px;
	margin-bottom: 15px;

	label {
		text-transform: none;
		display: block;
		font-size: inherit;
		margin: 0;
		line-height: inherit;
		font-weight: inherit;
	}
}

/* Widget: #Widget - Home Newsletter */
.widget_tg-home-newsletter {
	padding: 0;
	background-color: $darker-background;

	@include media-breakpoint-down(md) {
		padding: 0;
	}

	@include media-breakpoint-down(sm) {
		padding: 0;
	}
}

.widget-newsletter-wrap {
	padding: 30px 0;
}

.widget-newsletter-content-wrap {
	display: flex;
	align-items: center;

	.fas,
	.far {
		color: $accent-color;
		font-size: 38px;
		line-height: 1;
		flex: none;
		margin-right: 15px;
	}
}

.widget-newsletter-content {
	line-height: normal;
	color: $secondary-text-color;

	h2 {
		color: $white;
		margin-bottom: 0;
		font-weight: 900;
	}

	p {
		margin-bottom: 0;
	}
}

.widget-newsletter-form {
	position: relative;
	height: 40px;

	@include media-breakpoint-down(md) {
		margin-top: 20px;
	}

	button {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		padding: 0 25px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	input[type="email"] {
		height: 100%;
	}
}

