/*

  WooCommerce
  +

*/
.demo_store {
	position: fixed;
	bottom: 0;
	z-index: 150;
	width: 100%;
	background-color: $grey;
	border-top: 1px solid $border-color;
	text-align: center;
	margin: 0;
	line-height: normal;
	padding: 15px 25px;
}

.woocommerce-store-notice__dismiss-link {
	display: inline;
}

.entry-content {
	.woocommerce {
		@include clearfix;
	}
}

.woocommerce {
	.col2-set {
		@include media-breakpoint-up(md) {
			@include make-row($grid-gutter-widths);
		}

		.col-1, .col-2 {
			@include media-breakpoint-up(md) {
				@include make-col-ready($grid-gutter-widths);
				@include make-col(6);
			}
			@include media-breakpoint-down(md) {
				@include make-col-ready($grid-gutter-widths);
				@include make-col(12);
			}
		}
	}
}
