/*

  WooCommerce
  +

*/
.demo_store {
	position: fixed;
	bottom: 0;
	z-index: 150;
	width: 100%;
	background-color: $grey;
	border-top: 1px solid $border-color;
	text-align: center;
	margin: 0;
	line-height: normal;
	padding: 15px 25px;
}

.woocommerce-store-notice__dismiss-link {
	display: inline;
}

.entry-content {
	.woocommerce {
		@include clearfix;
	}
}

.woocommerce {
	.col2-set {
		@include media-breakpoint-up(md) {
			@include make-row($grid-gutter-widths);
		}

		.col-1, .col-2 {
			@include media-breakpoint-up(md) {
				@include make-col-ready($grid-gutter-widths);
				@include make-col(6);
			}
			@include media-breakpoint-down(md) {
				@include make-col-ready($grid-gutter-widths);
				@include make-col(12);
			}
		}
	}
}

.woocommerce-message,.woocommerce-error,.woocommerce-info,.woocommerce-noreviews {
	padding: 14px 20px 14px 55px;
	background-color: $grey;
	margin-bottom: 30px;
	margin-left: 0;
	clear: both;
	border-left: .618em solid $green;
	position: relative;

	@include media-breakpoint-down(sm) {
		font-size: 14px;
	}

	&::before {
		@include font-awesome(\f058);
		position: absolute;
		left: 15px;
		top: 10px;
		font-size: 1.4em;
	}

	a:not(.button) {
		border-bottom: 1px solid;
		color: $text-color-dark;
	}

	.button {
		float: right;
		padding: 5px 10px;
		line-height: normal;
		font-style: normal;
		font-weight: normal;
		color: inherit;
		background: none;
		position: relative;
		text-decoration: none;
		text-align: left;
		text-transform: uppercase;
		font-size: 0.875em;
		border: 0;

		&::after {
			@include font-awesome(\f061);
			font-size: 0.65em;
			display: inline-block;
			margin: 0 0 0 5px;
			position: relative;
			top: -2px;
		}
	}
}

.woocommerce-message {
	@include media-breakpoint-down(sm) {
		padding-bottom: 45px;

		.button {
			float: none;
			position: absolute;
			display: block;
			padding: 0;
			left: 45px;
			bottom: 15px;
			margin: 0;
		}
	}
}

.woocommerce-error {
	list-style: none;
	border-left-color: $red;

	li {
		display: block;
	}
}

.woocommerce-info {
	list-style: none;
	border-left-color: $blue;

	li {
		display: block;
	}

	&:before {
		content: "\f05a";
	}
}

.woocommerce-noreviews {
	padding-left: 20px;
	border-left-color: rgba(0,0,0,.15);

	&:before {
		display: none;
	}
}

.onsale {
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
	background-color: $accent-color;
	padding: 3px 12px;
	color: $text-on-accent;

	.item & {
		border-top-right-radius: $border-radius-base;
		top: 15px;
		right: 15px;
	}

	.images & {
		right: auto;
		border-top-left-radius: $border-radius-base;
	}
}

/* Breadcrumbs*/
.breadcrumb,.woocommerce-breadcrumb {
	padding-bottom: 15px;
	border-bottom: 1px solid $border-color;
	margin-bottom: 45px;
	color: $text-color-light;

	a {
		color: $text-color-dark;
	}

	> span {
		margin: 0 6px;
	}
}
